.checkbox-container {
    display: flex;
    margin: 10px;
    font-size: 2.5vw;
}

.checkbox-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px 15px;
    background-color: #61DAFB;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 4px black;
}