.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 101, 121);
    color: white;
    width: 6vw;
    min-width: 50px;
    margin: 2vw;
    padding: 1vw;
    border-radius: 20px;
    font-size: 80%;
}
